<td> <%= user.name %> </td>
<td>
  <%= link_to user.email, [:merchant, user] %>
</td>
<td>RM  <%= user.total_amount_spent %> </td>
<td> <%= user.level %> </td>
<td> <%= user.last_payment_date.strftime("%B %d, %Y") if user.last_payment_date%> </td>
