<td> <%= link_to user.name, [:merchant, user] %> </td>
<td>
  <%= user.email %>
</td>
<td>RM  <%= user.total_amount_spent %> </td>
<td> <%= user.level %> </td>
<td> <%= user.last_payment_date.strftime("%B %d, %Y") if user.last_payment_date%> </td>
